{{>rocket}}

<div class="text">
    <h1>Greasidis Softhouse</h1>
    <h1>404 Error - {{ device }}</h1>
    <h3>You can find more at the
        <a href='https://github.com/Temeteron/intermediate-nodejs-server' target='_blank'>repo</a>
        or the
        <a href='https://dimitris.greasidis.com/' target='_blank'>developer</a>
        page</h3>
</div>
